@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #00060f;
  color: #f3f4f6;
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}
